@import "tailwindcss";
@tailwind components;
@tailwind utilities;
:root {
  --background:rgb(193, 121, 188);
  --foreground:rgb(29, 88, 102);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:rgb(40, 110, 119);
    --foreground:rgb(62, 47, 180);
  }
}

body {
  --background:rgb(193, 121, 188);
  --foreground:rgb(29, 88, 102);
  

  
}
